<!DOCTYPE html>
<html>
  <head>
    <title>IO game</title>
  </head>
  <body>
    <div id='canvas-container'>
      <canvas id='canvas'></canvas>
      <div id='canvas-overlay'>
        <div id='username-form' class='hidden'>
          <input type='text' id='username' placeholder='username'>
          <button id="join-game">Join Game</button>
        </div>
        <button id="create-team" class="hidden">Create Team</button>
        <input id="name-team" class="hidden">
        <div id="teams"></div>
        <dialog id='death-modal'>
          <h1>You died!</h1>
          <div>Shot by Anonymous</div>
          <button id='play-again-btn'>Play Again?</button>
        </dialog>
      </div>
    </div>
    <script src="/game.bundle.js"></script>
  </body>
</html>